* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  min-height: 100vh;
  position: relative;
}

body.dark {
  background-color: #161722;
}

body.light {
  background-color: #fafafa;
}

.header {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  height: 30vh;
  justify-content: space-between;
  padding-top: 50px;
  width: 100%;
}
.header.dark {
  background: url("../images/bg-mobile-dark.jpg") no-repeat;
}
@media screen and (min-width: 1024px) {
  .header.dark {
    background: url("../images/bg-desktop-dark.jpg") no-repeat;
  }
}
.header.light {
  background: url("../images/bg-mobile-light.jpg") no-repeat;
}
@media screen and (min-width: 1024px) {
  .header.light {
    background: url("../images/bg-desktop-light.jpg") no-repeat;
  }
}
.header h1 {
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 10px;
  margin-left: 20px;
  text-transform: uppercase;
}
.header button {
  border: none;
  cursor: pointer;
  height: 25px;
  margin-right: 20px;
  width: 25px;
}
.header button.dark {
  background: url("../images/icon-sun.svg") no-repeat center;
}
.header button.light {
  background: url("../images/icon-moon.svg") no-repeat center;
}

.todo-app {
  left: 5%;
  position: absolute;
  top: 18%;
  width: 90%;
}

.todo-add {
  border-radius: 5px;
  display: flex;
  margin: 0 auto;
  padding: 15px;
  width: 100%;
}
.todo-add.dark {
  background-color: #25273c;
}
.todo-add.light {
  background-color: #fff;
}
.todo-add span {
  background-color: transparent;
  border: 1px solid #4d5066;
  border-radius: 50%;
  display: block;
  height: 20px;
  margin-right: 10px;
  width: 20px;
}
.todo-add input {
  background-color: transparent;
  border: none;
  caret-color: #3a7bfd;
  font-family: "Josefin Sans", sans-serif;
  font-size: 13px;
  width: 90%;
}
.todo-add input.dark {
  color: #cacde8;
}
.todo-add input.light {
  color: #484b6a;
}
.todo-add input::-moz-placeholder {
  color: #777a92;
}
.todo-add input:-ms-input-placeholder {
  color: #777a92;
}
.todo-add input::placeholder {
  color: #777a92;
}
.todo-add input:focus {
  outline: none;
}

.todo-list {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.todo-list.dark {
  background-color: #25273c;
}
.todo-list.light {
  background-color: #fff;
}
.todo-list .simple-todo {
  align-items: center;
  border-bottom: 1px solid #777a92;
  display: flex;
  padding: 15px;
}
.todo-list .simple-todo .done-todo {
  background-color: transparent;
  border: 1px solid #4d5066;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 20px;
  margin-right: 10px;
  width: 20px;
}
.todo-list .simple-todo .text-todo {
  color: #cacde8;
  font-size: 11px;
  margin-right: 60px;
}
.todo-list .simple-todo .delete-todo {
  background: url("../images/icon-cross.svg") no-repeat center;
  border: none;
  cursor: pointer;
  height: 12px;
  width: 12px;
}

.mobile-filters-buttons {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  padding: 15px 0;
}
.mobile-filters-buttons.dark {
  background-color: #25273c;
}
.mobile-filters-buttons.light {
  background-color: #fff;
}
.mobile-filters-buttons button {
  background-color: transparent;
  border: none;
  color: #4d5066;
  font-size: 14px;
  font-weight: 700;
  margin-left: 20px;
}
.mobile-filters-buttons button.active {
  color: #3a7bfd;
}/*# sourceMappingURL=style.css.map */