.header {
	align-items: baseline;
	display: flex;
	flex-direction: row;
	height: 30vh;
	justify-content: space-between;
	padding-top: 50px;
	width: 100%;

	@media screen and (min-width: 1024px) {
		align-items: stretch;
		justify-content: space-around;
	}

	&.dark {
		background: url("../images/bg-mobile-dark.jpg") no-repeat center;

		@media screen and (min-width: 1024px) {
			background: url("../images/bg-desktop-dark.jpg") no-repeat;
		}
	}

	&.light {
		background: url("../images/bg-mobile-light.jpg") no-repeat;

		@media screen and (min-width: 1024px) {
			background: url("../images/bg-desktop-light.jpg") no-repeat;
		}
	}

	&__title {
		color: #fff;
		font-size: 26px;
		font-weight: 700;
		letter-spacing: 10px;
		margin-left: 20px;
		text-transform: uppercase;

		@media screen and (min-width: 1024px) {
			padding-top: 5px;
			margin-left: 200px;
		}
	}

	&__button-theme {
		border: none;
		cursor: pointer;
		height: 25px;
		margin-right: 20px;
		width: 25px;

		@media screen and (min-width: 1024px) {
			margin-right: 190px;
		}
	}

	&__button-theme.dark {
		background: url("../images/icon-sun.svg") no-repeat center;
	}

	&__button-theme.light {
		background: url("../images/icon-moon.svg") no-repeat center;
	}
}
