.header {
	align-items: baseline;
	background: url("../images/bg-mobile-dark.jpg");
	display: flex;
	flex-direction: row;
	height: 30vh;
	justify-content: space-between;
	padding-top: 50px;
	width: 100%;

	& h1 {
		color: #fff;
		font-size: 26px;
		font-weight: 700;
		letter-spacing: 10px;
		margin-left: 20px;
		text-transform: uppercase;
	}

	& img {
		height: 3vh;
		margin-right: 20px;
	}
}
