.todo-app {
	left: 5%;
	position: absolute;
	top: 18%;
	width: 90%;
}

.dark {
	background-color: $veryDarkDesaturatedBlue;
	color: $darkLightGrayishBlue;
}

.light {
	background-color: #fff;
	color: $lightVeryDarkGrayishBlue;
}
