* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-family: "Josefin Sans", sans-serif;
	font-size: 18px;
	min-height: 100vh;
	margin: 0 auto;
	max-width: 1440px;
	position: relative;
}

body.dark {
	background-color: $veryDarkBlue;
}

body.light {
	background-color: $veryLightGray;
}

.attribution {
	margin-top: 500px;
}
