.todo-list {
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	margin-top: 15px;

	&.dark {
		background-color: $veryDarkDesaturatedBlue;
	}

	&.light {
		background-color: #fff;
	}

	& .simple-todo {
		border-bottom: 1px solid $darkDarkGrayishBlue;
		display: flex;
	}
}

.mobile-filters-buttons {
	border-radius: 5px;
	display: flex;
	justify-content: center;
	margin-top: 15px;
	padding: 15px 0;

	&.dark {
		background-color: $veryDarkDesaturatedBlue;
	}

	&.light {
		background-color: #fff;
	}

	& button {
		background-color: transparent;
		border: none;
		color: $darkVeryDarkGrayishBlue;
		font-size: 14px;
		font-weight: 700;
		margin-left: 20px;

		&.active {
			color: $brightBlue;
		}
	}
}
