.todo-list {
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	margin-top: 15px;

	&.dark {
		background-color: $veryDarkDesaturatedBlue;
	}

	&.light {
		background-color: #fff;
	}

	&__item {
		align-items: center;
		border-bottom: 1px solid $darkDarkGrayishBlue;
		display: flex;
		list-style: none;
		padding: 15px;
		width: 100%;
	}

	&__completed-btn {
		background-color: transparent;
		border: 1px solid #4d5066;
		border-radius: 50%;
		cursor: pointer;
		display: block;
		height: 20px;
		transition: 0.2s linear;
		width: 20px;

		&:hover {
			border-color: $brightBlue;
		}
	}

	&__completed-btn--completed {
		background: url("../images/icon-check.svg") no-repeat center,
			$checkBackground;
	}

	&__text {
		color: $darkLightGrayishBlue;
		font-size: 12px;
		margin-left: 15px;
		width: 95%;
	}

	&__text--completed {
		color: $darkVeryDarknestGrayishBlue;
		text-decoration: line-through;
	}

	&__delete-btn {
		background: url("../images/icon-cross.svg") no-repeat center;
		border: none;
		cursor: pointer;
		height: 12px;
		width: 12px;
	}
}

.todo-list--active {
	display: none;
}

.todo-list--completed {
	display: none;
}

.filters-todo {
	align-items: center;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	padding: 20px 0;

	&.dark {
		background-color: $veryDarkDesaturatedBlue;
	}

	&.light {
		background-color: #fff;
	}

	&__items-left {
		color: $darkVeryDarkGrayishBlue;
		font-size: 11px;
		font-weight: 700;
		margin-left: 15px;
	}

	&__clear-completed {
		background-color: transparent;
		border: none;
		color: $darkVeryDarkGrayishBlue;
		cursor: pointer;
		font-size: 11px;
		font-weight: 700;
		margin-right: 15px;
	}

	&__buttons {
		background-color: $veryDarkDesaturatedBlue;
		border-radius: 5px;
		display: flex;
		justify-content: center;
		left: 0%;
		height: 6vh;
		position: absolute;
		top: 110%;
		width: 100%;

		@media screen and (min-width: 1024px) {
			display: block;
			height: 2vh;
			position: static;
			text-align: center;
			width: 50%;
		}
	}

	&__button {
		background-color: transparent;
		border: none;
		color: $darkVeryDarkGrayishBlue;
		cursor: pointer;
		font-size: 14px;
		font-weight: 700;
		margin: 0 10px;
	}

	&__button--active {
		color: $brightBlue;
	}
}
