// Primary

$brightBlue: #3a7bfd;
$checkBackground: linear-gradient(#57ddff, #c058f3);

// Light Theme

$lightVeryLightGray: #fafafa;
$lightVeryLightGrayishBlue: #e4e5f1;
$lightLightGrayishBlue: #d2d3db;
$lightDarkGrayishBlue: #9394a5;
$lightVeryDarkGrayishBlue: #484b6a;

// Dark Theme

$darkVeryDarkBlue: #161722;
$darkVeryDarkDesaturatedBlue: #25273c;
$darkLightGrayishBlue: #cacde8;
$darkLightGrayishBlueHover: #e4e5f1;
$darkDarkGrayishBlue: #777a92;
$darkVeryDarkGrayishBlue: #4d5066;
$darkVeryDarknestGrayishBlue: #393a4c;
