// Primary

$brightBlue: #3a7bfd;
$checkBackground: linear-gradient(to bottom right, #57ddff, #c058f3);

// Light Theme

$veryLightGray: #fafafa;
$veryLightGrayishBlue: #e4e5f1;
$lightGrayishBlue: #d2d3db;
$darkGrayishBlue: #9394a5;
$lightVeryDarkGrayishBlue: #484b6a;

// Dark Theme

$veryDarkBlue: #161722;
$veryDarkDesaturatedBlue: #25273c;
$darkLightGrayishBlue: #cacde8;
$lightGrayishBlueHover: #e4e5f1;
$darkDarkGrayishBlue: #777a92;
$darkVeryDarkGrayishBlue: #4d5066;
$darkVeryDarknestGrayishBlue: #393a4c;
